body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1;
    margin: 0;
    padding: 0;
}

.container {
    width: 420px;
    background: white;
    padding: 25px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 6px;
}
